.Header {
	padding: 20px;
	text-align: center;
	background-color: gray;
}
.header2{
	text-align: center;
	padding: 30px;
	background-color: gray;
}
p {
	font-family: cursive, sans-serif;
}
@media (max-width: 600px) {
			img {
					display: none;
				}
			}