.Header {
	padding: 5px;
	text-align: center;
	font-family: times;
}
p {
	font-family: times;
}
@media (max-width: 600px) {
			img {
					display: none;
				}
			}
			/*nav {
				display: none;
			}*/

.bg-4 {
	 background-color: #2f2f2f;
    color: #ffffff;
    padding: 40px;
}